<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AvalonEdit" version="6.0.0" targetFramework="net472" />
  <package id="AvalonEdit.Sample" version="5.0.3" targetFramework="net472" />
  <package id="log4net" version="2.0.8" targetFramework="net472" />
  <package id="SQLite" version="3.13.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.111.0" targetFramework="net472" />
</packages>